body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


span { width:20%; display:inline-block; }
span.align-right { text-align:right; }
    
    